---
const { small, light } = Astro.props
---
<p class={`!text-base md:!text-xl ${ small ? "!text-base md:!text-base" : "md:!text-xl"} ${light?"text-white": "text-zinc-900"} !leading-8 font-karla`}>
    <slot/>
</p>
