---
const {

    link,
    text

} = Astro.props
---
<a href={ link } class="group">
    <div class="font-bold text-sm font-karla uppercase !tracking-wide">{ text }</div>
    <div class="h-1 w-0 group-hover:w-full bg-primary transition-width duration-200 ease-in"/>
</a>
