---
const {

    highlight,
    link,
    text,

} = Astro.props
---
<a href={ link } class="group">
    <p class="font-bold text-sm font-karla uppercase tracking-[.25em]">{ text }</p>
    <div class={`${highlight?"w-full bg-black":"w-0 bg-primary group-hover:w-full"} h-1 transition-width duration-200 ease-in`}/>
</a>
