---
import H1 from "../common/atom/H1.astro"
import H6 from "../common/atom/H6.astro"
import Paragraph from "../common/atom/Paragraph.astro"
import Process from "./Process.astro"
---
<div class="grid gap-4">
    <H1>Our process</H1>
    <Paragraph>At Small Town Folk, the client, the consumer and us are playing a continuous symphony using the below steps. We deeply believe that none of the following steps have to be followed in a linear fashion. We are continuously discovering, exploring, critiquing and sharing ideas with the 3 part triangle - the client, the consumer and us.</Paragraph>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-20">
    <Process
        heading="1. Discovery"
        description="We work with clients on understanding the specific needs and wants, even the latent ones. During this phase we help them lay out all the hopes and dreams for a project. "
    />
    <Process
        heading="2. Research"
        description="We dig deep into our client's business, markets, and cultural movements that are currently shaping the world. With that knowledge, we identify opportunities that they can uniquely own and help them differentiate in the industry. "
    />
    <Process
        heading="3. Strategy"
        description="Once we have the background research in place we conduct collaborative workshops with the core team to crystallize the brand messaging."
    />
    <Process
        heading="4. Exploration"
        description="After all the building blocks are in place, we now look for inspiration. We search in all corners - online and offline. We look at work done by people that inspire us across design, art, music, history, food - almost anything and everything until we have that 'Aha' moment."
    />
    <Process
        heading="5. Critique"
        description="And then ideas are laid out and shots are fired. We like some, we build some and some just don't make the cut. Every thought is chosen only if it does justice to the brand and its audience. "
    />
    <Process
        heading="6. Execution"
        description="And finally, bring the baby to life. We use our creative prowess to give the brand or campaign the shape that it deserves. "
    />
</div>
