---
import H1 from "../common/atom/H1.astro"
import H6 from "../common/atom/H6.astro"
import Paragraph from "../common/atom/Paragraph.astro"
import Value from "./Value.astro"
---
<div class="grid gap-4">
    <H1>Our values</H1>
    <Paragraph>Everyday, we strive to create the perfect environment to bring out the best in all of us. So we thought it would be a good idea to jot down what we believe in - our values. Needless to say, these are constantly evolving and growing just like we are!</Paragraph>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-20">
    <Value
        image="https://blupp.b-cdn.net/smalltownfolk/smalltownfolk-say-hello.png?quality=80"
        heading="Say hello"
        description="We, at Small Town Folk, love saying hello. Say hello and watch as the world becomes a nicer, happier place. We've gotten some of our best projects by just walking up to people and having interesting conversations."
    />
    <Value
        image="https://blupp.b-cdn.net/smalltownfolk/smalltownfolk-have-fun.png?quality=80"
        heading="Have Fun"
        description="This may be the most important rule of them all. Go ahead and love what you do. Open briefs are the best things in the world. Dive in head first and splash about. Make Bryan Adams proud and have the best days of your life."
    />
    <Value
        image="https://blupp.b-cdn.net/smalltownfolk/smalltownfolk-share-freely.png?quality=80"
        heading="Share freely, accept openly"
        description="“I have a thought.” is one of the most used phrases at Small Town Folk. Closely followed by “What do you think?”. Our policy is that you're never going to know how good a batsman you are unless you take a swing at it. Remember, share without fear and listen without bias."
    />
    <Value
        image="https://blupp.b-cdn.net/smalltownfolk/smalltownfolk-hold-eachother-up.png?quality=80"
        heading="Hold each other up"
        description="If you ever feel bogged down in any way, just look up and ask for help. There are no stupid questions. Reach out, we're nice people. We don't bark. Well... Eva might, but that's probably because she wants to help too."
    />
    <Value
        image="https://blupp.b-cdn.net/smalltownfolk/smalltownfolk-band-together.png?quality=80"
        heading="Join forces"
        description="Phil Jackson famously said that “The strength of the team is each individual member. The strength of each member is the team.” It's time to take our individuals skills and multiply them together. It's almost exactly like those Captain Planet cartoons."
    />
    <Value
        image="https://blupp.b-cdn.net/smalltownfolk/smalltownfolk-be-honest.png?quality=80"
        heading="Be honest"
        description="Honesty is the best policy. A little cringey, we know. But hey, it's the truth. Working with a lot of different people can be a little daunting at first. So, if you ever feel a little lost in translation, try the truth. It'll (we're going to make you cringe again) set you free."
    />
    <Value
        image="https://blupp.b-cdn.net/smalltownfolk/smalltownfolk-save-the-day.png?quality=80"
        heading="Save the day"
        description="We're all here to do the same thing - solve problems. So, don't worry about which department you're in or which project you're working on. If you can jump in and save the day with a kick-ass idea, we'd never ever stand in your way. In fact, we usually brainstorm with the whole team because you really never know where the ‘big-idea' is going to come from."
    />
    <Value
        image="https://blupp.b-cdn.net/smalltownfolk/smalltownfolk-welcome-unknown.png?quality=80"
        heading="Welcome the unknown"
        description="It's okay not to know everything all the time. The wise thing to do in these situations is to embrace it as an opportunity and learn. Every project we do makes us better because every project we do teaches us something new. The moment you stop learning, you stop growing."
    />
    <Value
        image="https://blupp.b-cdn.net/smalltownfolk/smalltownfolk-better-world.png?quality=80"
        heading="Make the world better"
        description="You have the power to use design for good. Break barriers, cross cultures and be selfless. There can be no brave new world if there is no brave new design."
    />
</div>
