---
import H4 from "../common/atom/H4.astro"
import Paragraph from "../common/atom/Paragraph.astro"
const {

    description,
    heading,
    image,

} = Astro.props
---
<div class="flex flex-col gap-4">
    <img
        src={ image }
        class="object-fit w-full"
        alt={ heading +"'s image" }
    />
    <H4>{ heading }</H4>
    <Paragraph>{ description }</Paragraph>
</div>
