---
import Header from "../components/common/Header.jsx"
import Head from "../components/common/Head.astro"
import Footer from "../components/common/Footer.astro"
import H1 from "../components/common/atom/H1.astro"
import H4 from "../components/common/atom/H4.astro"
import H6 from "../components/common/atom/H6.astro"
import Paragraph from "../components/common/atom/Paragraph.astro"
import { TEAM } from "../constants"
import Values from "../components/about/Values.astro"
import OurProcess from "../components/about/OurProcess.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header
			pathname= { Astro.url.pathname }
			client:load
		/>
		<section class="container max-w-7xl mx-auto grid grid-cols-1 p-4 md:p-0 !py-20 mt-36">
			<div class="grid gap-4">
				<H1
					text="About us"
				/>
				<Paragraph
					text="We started this journey because we believe in honest storytelling. Just like individuals, brands are meant to be unique. We help them find their voice and work with them to express it through strategy and design. "
				/>
				<Paragraph
					text="Because we are highly committed to our work, we focus on constantly honing our skills by learning & unlearning through our environments and the people we work with. We are proud of our varied backgrounds and use our multidisciplinary skillsets across brand strategy, design and creative content, to focus solely on creating exceptional brand experiences. "
				/>
			</div>
		</section>
		<section class="container max-w-7xl mx-auto grid grid-cols-1 p-4 md:p-0 md:!py-20">
			<Values />
		</section>
		<section class="container max-w-7xl mx-auto grid grid-cols-1 p-4 md:p-0 md:!py-20">
			<OurProcess />
		</section>
		<section class="container max-w-7xl mx-auto grid grid-cols-1 p-4 md:p-0 !py-20">
			<div class="grid gap-4">
				<H1
					text="Meet our team"
				/>
				<Paragraph
					text="Everyone at Small Town Folk comes from different backgrounds and is equipped with more than one skill set. We don't pretend to have all the answers but we can promise that we'll leave no stone unturned in our quest to find that great idea. "
				/>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-3 gap-10 py-20">
			{

				TEAM.map( ( team ) => {

					return (
						<div class="flex flex-col gap-4">
							<div class="w-full aspect-square bg-zinc-200">
								<img
									src={ team.image }
									class="object fit w-full h-full"
									alt={ team.name + "'s picture"}
								/>
							</div>
							<H4
								text={ team.name }
							/>
							<Paragraph
								text={ team.description }
							/>
						</div>
					)

				})

			}
			</div>
		</section>
		<Footer />
	</body>
</html>
