---
import { getCollection } from 'astro:content'
let team = await getCollection('team')
team = team.sort((a, b) => a.data.order - b.data.order)
team = team.filter( ( item ) => item.data.live )
import Header from "../components/common/Header.jsx"
import Footer from "../components/common/Footer.astro"
import H1 from "../components/common/atom/H1.astro"
import H4 from "../components/common/atom/H4.astro"
import Paragraph from "../components/common/atom/Paragraph.astro"
import Values from "../components/about/Values.astro"
import OurProcess from "../components/about/OurProcess.astro"
import Layout from "../layouts/Layout.astro"
import Container from "../layouts/Container.astro"
---
<Layout
	title="Work — Small Town Folk"
	description="Work — Small Town Folk"
	image="https://blupp.b-cdn.net/smalltownfolk/tasveerien-yogabar-cover.jpg?quality=80"
>
	<Header
		pathname= { Astro.url.pathname }
		client:load
	/>
	<Container>
		<section class="flex flex-col gap-10">
			<section class="mt-36">
				<div class="grid gap-4">
					<H1>About us</H1>
					<Paragraph>We started this journey because we believe in honest storytelling. Just like individuals, brands are meant to be unique. We help them find their voice and work with them to express it through strategy and design.</Paragraph>
					<Paragraph>Because we are highly committed to our work, we focus on constantly honing our skills by learning & unlearning through our environments and the people we work with. We are proud of our varied backgrounds and use our multidisciplinary skillsets across brand strategy, design and creative content, to focus solely on creating exceptional brand experiences.</Paragraph>
				</div>
			</section>
			<Values />
			<OurProcess />
			<section class="grid gap-4">
				<H1>Meet our team</H1>
				<Paragraph>Everyone at Small Town Folk comes from different backgrounds and is equipped with more than one skill set. We don't pretend to have all the answers but we can promise that we'll leave no stone unturned in our quest to find that great idea.</Paragraph>
			</section>
			<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 py-20">
				{

					team.map( ( team ) => {

						return (
							<div class="flex flex-col gap-4">
								<div class="w-full aspect-square bg-zinc-200">
									<img
										src={ team.data.image }
										class="object fit w-full h-full"
										alt={ team.data.name + "'s picture"}
									/>
								</div>
								<H4>{ team.data.name }</H4>
								<Paragraph>{ team.data.description }</Paragraph>
							</div>
						)

					})

				}
			</section>
		</section>
	</Container>
	<Footer />
</Layout>
