---
import Header from "../components/common/Header.astro"
import Footer from "../components/common/Footer.astro"
import H1 from "../components/common/atom/H1.astro"
import Paragraph from "../components/common/atom/Paragraph.astro"
import Head from "../components/common/Head.astro"
import { Content as CareersContent } from '../content/pages/Careers.md';
import "../styles/global.css"
---

<html lang="en">
	<Head />
	<body>
		<section class="min-h-[60vh]">
			<Header />
			<div class="container max-w-7xl mx-auto grid grid-cols-1 p-4 md:p-0 md:grid-cols-2 md:py-40 mt-36">
				<div class="grid gap-4">
					<CareersContent />
				</div>
			</div>
		</section>
		<Footer />
	</body>
</html>
