---
import Header from "../components/common/Header.astro"
import Footer from "../components/common/Footer.astro"
import H1 from "../components/common/atom/H1.astro"
import Paragraph from "../components/common/atom/Paragraph.astro"
import Head from "../components/common/Head.astro"
import Button from "../components/common/Button.astro"
---
<html lang="en">
	<Head />
	<body>
		<section class="min-h-[60vh]">
			<Header />
			<div class="container max-w-7xl mx-auto grid grid-cols-2 py-40 mt-36">
				<div class="grid gap-8">
					<H1
						text="Let's work together."
					/>
					<Paragraph
						text="We, at Small Town Folk, love saying hello. We have gotten some of our best projects by just walking up to people and having interesting conversations."
					/>
					<Paragraph
						text="Say hello and watch as the world becomes a nicer, happier place."
					/>
					<Button
						text="Schedule Meeting"
						link="https://calendly.com/avinash-stf/"
						external={ true }
					/>
				</div>
			</div>
		</section>
		<Footer />
	</body>
</html>
