---
import Header from "../components/common/Header.jsx"
import Footer from "../components/common/Footer.astro"
import H1 from "../components/common/atom/H1.astro"
import Paragraph from "../components/common/atom/Paragraph.astro"
import Head from "../components/common/Head.astro"
import Button from "../components/common/Button.astro"
import Layout from "../layouts/Layout.astro"
import Container from "../layouts/Container.astro"
---
<Layout
	title="Contact — Small Town Folk"
	description="Contact Small Town Folk for multi-disciplinary creative branding projects for your business. Talk to our team or schedule a meeting"
	image=""
>
	<section class="min-h-[60vh]">
		<Header
			pathname= { Astro.url.pathname }
			client:load
		/>
		<Container>
			<section class="mt-36">
				<div class="grid gap-8">
					<H1>Let's work together.</H1>
					<Paragraph>We, at Small Town Folk, love saying hello. We have gotten some of our best projects by just walking up to people and having interesting conversations.</Paragraph>
					<Paragraph>Say hello and watch as the world becomes a nicer, happier place.</Paragraph>
					<Button
						text="Schedule Meeting"
						link="https://calendly.com/avinash-stf/"
						external={ true }
					/>
				</div>
			</section>
		</Container>
	</section>
	<Footer />
</Layout>
