---
import Header from "../components/common/Header.jsx"
import Footer from "../components/common/Footer.astro"
import Head from "../components/common/Head.astro"
import Works from "../components/home/Works.astro"
import Strategy from "../components/home/Strategy.astro"
import BehindLens from "../components/home/BehindLens.astro"
import Introduction from "../components/home/Introduction.jsx"
---

<html lang="en">
	<Head 
		title="Small Town Folk | We Create Exceptional Brand Experiences  "
		description="We help businesses create core brand assets and launch brands, products, bespoke brand experiences and with brand identity"
		image="https://blupp.b-cdn.net/smalltownfolk/small-town-folk-logo-circle%403x.png?quality=80"
	/>
	<body>
		<Header
			pathname= { Astro.url.pathname }
			client:load
		/>
		<section class="mt-36 container xl:max-w-7xl lg:max-w-6xl mx-auto py-4 md:py-20">
			<Introduction client:load/>
		</section>
		<section class="container xl:max-w-7xl lg:max-w-6xl mx-auto py-4 md:py-20">
			<Works />
		</section>
		<section class="bg-zinc-800">
			<section class="container xl:max-w-7xl lg:max-w-6xl mx-auto">
				<Strategy />
			</section>
		</section>
		<section class="container xl:max-w-7xl lg:max-w-6xl mx-auto">
			<BehindLens />
		</section>
		<Footer />
	</body>
</html>
