---
import Header from "../components/common/Header.jsx";
import Footer from "../components/common/Footer.astro";
import Head from "../components/common/Head.astro";
import { Content as PrivacyContent } from '../content/pages/privacy.md';
import "../styles/global.css"
---
<html lang="en">
	<Head 
		title="Privacy Policy — Small Town Folk"
		description=""
		image=""
	/>
	<body>
		<Header
			pathname= { Astro.url.pathname }
			client:load
		/>
        <section class="container max-w-7xl mx-auto grid gap-10 py-10 mt-36">
            <PrivacyContent/>
		</section>
		<Footer />
	</body>
</html>
