---
import Header from "../components/common/Header.jsx";
import Footer from "../components/common/Footer.astro";
import Head from "../components/common/Head.astro";
import { Content as PrivacyContent } from '../content/pages/privacy.md';
import "../styles/global.css"
import Layout from "../layouts/Layout.astro"
import Container from "../layouts/Container.astro"
---
<Layout
	title="Privacy Policy — Small Town Folk"
	description="Privacy Policy — Small Town Folk"
	image=""
>
	<Header
	pathname= { Astro.url.pathname }
	client:load
	/>
	<Container>
		<section class="gap-8 flex flex-col mt-36">
			<PrivacyContent/>
		</section>
	</Container>
	<Footer />
</Layout>
