---
import H2 from "../common/atom/H2.astro"
import Paragraph from "../common/atom/Paragraph.astro"
import Button from "../common/Button.astro"
---
<div class="grid grid-cols md:grid-cols-2 p-4 md:p-0 gap-20 md:py-40">
    <div class="grid grid-cols gap-2 md:gap-8">
        <H2>We're behind the lens, too.</H2>
        <Paragraph>Our production house, Tasveerien, further strengthens our ability to bring brands to life. We work with a curated roster of directors, with backgrounds in animation and film, who transport the creative boundaries of film, design and art. With no detail too small, no challenge too big — we truly believe in the marriage of production and design.</Paragraph>
        <Button
            text="Visit Site"
            link="https://www.tasveerien.com/"
            external={ true }
        />
    </div>
    <div>
        <img
            src="https://blupp.b-cdn.net/smalltownfolk/Tasveerien.png?quality=80"
            class="object-fit w-full h-full"
        />
    </div>
</div>
