<div class="grid grid-cols-5 gap-8 py-20">
    <div >
        <img
            src="https://blupp.b-cdn.net/smalltownfolk/small-town-folk-logo-circle@3x.png?quality=80"
            class="object-fit w-full h-full"
        />
    </div>
</div>
