---
import H4 from "../common/atom/H4.astro"
const {

    description,
    image,
    large,
    link,

} = Astro.props
---
<a href={ "/work/" + link }>
    <div class={`${large?"h-[640px]":"h-96"} w-full bg-zinc-200 relative`}>
        <img
            src={ image }
            class="object-cover h-full w-full"
        />
        <div class="absolute z-20 top-0 left-0 bg-black/70 w-full h-full opacity-0 hover:opacity-100 flex items-center justify-center">
            <div class="p-20 text-center">
                <H4
                    text={ description }
                    light={ true }
                />
            </div>
        </div>
    </div>
</a>
