---
import * as work_one  from "../../content/work/yogabar.mdx"
import * as work_two  from "../../content/work/amintiri.mdx"
import * as work_three  from "../../content/work/dish-sling.mdx"
import * as work_four  from "../../content/work/design-principles.mdx"
import Work from "./Work.astro"
---
<div class="grid grid-cols-2 gap-8 py-8">
    <div class="flex flex-col gap-8">
        <Work
            image={ work_one.frontmatter.image }
            description={ work_one.frontmatter.description }
            link={ work_one.frontmatter.link }
            large={ false }
        />
        <Work
            image={ work_two.frontmatter.image }
            description={ work_two.frontmatter.description }
            link={ work_two.frontmatter.link }
            large={ true }
        />
    </div>
    <div class="flex flex-col gap-8">
        <Work
            image={ work_three.frontmatter.image }
            description={ work_three.frontmatter.description }
            link={ work_three.frontmatter.link }
            large={ true }
        />
        <Work
            image={ work_four.frontmatter.image }
            description={ work_four.frontmatter.description }
            link={ work_four.frontmatter.link }
            large={ false }
        />
    </div>
</div>
