---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {

	const workEntries = await getCollection('work');
  	return workEntries.map(entry => ({

		params: { slug: entry.slug }, props: { entry },

  	}))

}
const { entry } = Astro.props;
const { Content } = await entry.render();
import Header from "../../components/common/Header.jsx"
import Footer from "../../components/common/Footer.astro"
import Head from "../../components/common/Head.astro"
import "../../styles/global.css"
---
<html lang="en">
    <Head 
		title={ entry.data.seo_title }
		description={entry.data.seo_description}
		image={entry.data.image}
	/>
	<body>
		<Header
			pathname= { Astro.url.pathname }
			client:load
		/>
		<section class="mt-36 h-[50vh] md:h-[70vh] w-full p-4 md:p-0">
			<div class="bg-zinc-300 w-full h-full">
				<img
					src={ entry.data.image }
					alt={ entry.data.brand + "'s work"}
					class="w-full h-full object-center object-cover"
				/>
			</div>
		</section>
		<section class="container xl:max-w-7xl lg:max-w-6xl mx-auto py-4 md:py-20 p-4 md:p-0">
            <Content/>
        </section>
        <Footer />
</html>
