---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
import H3 from "../../components/common/atom/H3.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
import Head from "../../components/common/Head.astro"
import MastHead from "../../components/work/MastHead.astro"
import P from "../../components/common/atom/P.astro"
import ImageBetweenText from "../../components/work/ImageBetweenText.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header />
        <MastHead
           L_title="Amintiri"
           L_points=
           {[
            "Brand Identity",
            "Brand Strategy",
            "Brand Communication",
            "Creative Strategy",
            "Packaging Design",
            "Website UI/UX" 
            ]}
           R_title="Celebrating an identity" 
           R_description="Amintiri is a patisserie established in Bangalore. We were tasked with creating a visual identity and brand personality for them. We centred the brand story around celebration and stories. Creating the logo using minimal typography we extended the same brand personality by using plush shades and gilded accents. The colour schemes, imagery guidelines and photography direction were specifically chosen to exude the same richness and style. Over the time spent during our association with the brand we worked on various projects including Amintiri's online presence, packaging, retail design."
        />
        <div class="container max-w-6xl mx-auto my-24 mb-8">
            <div class="bg-blue-400 h-[80vh]"></div>
        </div>
        <div class="bg-yellow-400 h-[80vh]"></div>
        <ImageBetweenText
            title1="Packaged happiness"
            title2="A bake down memory lane"
            text1={["Employing the rich colours in our brand manual, we created packaging using a minimal design style with aureate accents. Our main goal was to find the ideal mix of form and function. This is usually the first time the customer physically interacts with the brand and we made sure that the packaging not only looked aesthetically pleasing but was also easy to handle and transport."]}
            text2={["A truly decadent brand deserves its own coffee table book. We were inspired by Amintiri's tagline, 'A bake down memory lane'. It talks about the brand's philosophy and allows the reader to step into the world of Amintiri. The book uses the language of storytelling to talk about Amintiri's use of traditional baking techniques, historic recipes and and high-quality ingredients. Add that to some enticing photography and you've got a understandably enviable coffee table book."]}
        />
        <div class="bg-purple-400 h-[80vh]"></div>
        <div class="container max-w-6xl mx-auto">
            <div class="my-24 flex flex-col gap-8">
                <H3
                    text="One-stop shop"
                />
                <Paragraph
                    text="We designed the Amintiri website to ensure that it wasn't just visually arresting but easy to use as well. We blended form and function so as to ensure a three-click segue from opening the website to celebration. A clean layout was used to ensure that the beautiful product photos were the hero. Once the website was live, online sales and conversion rated began to drive the brand."
                />
            </div>
            <div class="bg-pink-400 h-[80vh]"></div>
        </div>
        <div class="bg-red-600 h-[80vh] mt-4"></div>
        <div class="container max-w-6xl mx-auto">
            <div class="my-28 flex flex-col gap-8">
                <H3
                    text="Staying Connected"
                />
                <Paragraph
                    text="How do we stand apart in a space that’s already so crowded with content, especially food related content? In order to overcome this, we decided to center our creatives around well-curated photography. These are a few of the posts that we designed."
                    />
            </div>
                <div class="bg-pink-400 h-[70vh]"></div>
                <div class="grid grid-cols-3 gap-10 my-12">
                    <div class="bg-blue-400 h-[50vh]"></div>
                    <div class="bg-blue-400 h-[50vh]"></div>
                    <div class="bg-blue-400 h-[50vh]"></div>
                </div>
            </div>   
            <div class="bg-red-600 h-[80vh]"></div>
            <div class="container max-w-6xl mx-auto">
                <div class="my-28 flex flex-col gap-8">
                    <H3
                        text="Places of Celebration"
                    />
                    <Paragraph
                        text="Whether you were at the store or at an outdoor location, the consumer always received an authentic Amintiri experience. Keeping richness and decadence in mind, we created a menu, point-of-sale creatives and on-ground posters."
                        />
                </div>
                <div class="grid grid-cols-2 gap-10 mb-12">
                    <div class="bg-blue-400 h-[70vh]"></div>
                    <div class="bg-blue-400 h-[70vh]"></div>
                </div>
            </div>
		<Footer />
	</body>
</html>
