---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
import H3 from "../../components/common/atom/H3.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
import Head from "../../components/common/Head.astro"
import MastHead from "../../components/work/MastHead.astro"
import P from "../../components/common/atom/P.astro"
import ImageBetweenText from "../../components/work/ImageBetweenText.astro"
import Title1Text1 from "../../components/work/Title1Text1.astro"
import ImageGrid2 from "../../components/work/ImageGrid2.astro"
import ImageGrid3 from "../../components/work/ImageGrid3.astro"
import FullImage from "../../components/work/FullImage.astro"
import Image from "../../components/work/Image.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header />
        <MastHead
            L_title="Hopshaus"
            L_points=
            {[
                "Brand Identity",
                "Packaging Design"
            ]}
           R_title="Welcome to the jungle" 
           R_description="Hopshaus is an artisanal brewery established by Embassy. They wanted to create a series of botanical microbreweries across Bangalore. These breweries would then lend themselves to helping Embassy package and sell their own beer. Hopshaus' hops are sourced from all over the world. Using this and the botanical theme as our base we began this project knee deep in the swamps of thick rainforests; excited by what we could find."
        />
        
         <div class="container max-w-6xl mx-auto">
            <Image />
            <Title1Text1
                title="Show us your wild side"
                text="Who doesn't love beer? We were quite kicked when we were asked to create a quirky identity for locally brewed beers. Sometime during our various brainstorming sessions, we remembered a classic - The Animal Farm. A book that most of us had read at some point in our lives. We decided to flip the notion and create a light-hearted animal kingdom. A quirky place where creatures like the droll raccoon and the uppity flamingo could roam free. That's how we conceptualised this whimsical world, with animals that would be true to the characteristics of the beers."
            />
            <ImageGrid2 /> <!-- Will make it a different component -->
            <ImageGrid2 /> <!-- Will make it a different component -->
        </div> 
        <FullImage />
        <div class="container max-w-6xl mx-auto">
            <ImageGrid2 /> <!-- Will make it a different component -->
            <ImageGrid2 /> <!-- Will make it a different component -->
        </div> 
        <FullImage />
        <div class="container max-w-6xl mx-auto">
            <ImageGrid2 /> <!-- Will make it a different component -->
            <ImageGrid2 /> <!-- Will make it a different component -->
        </div> 
		<Footer />
	</body>
</html>
