---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<section class="container max-w-7xl mx-auto flex">
			<div class="grid grid-cols-2 gap-8 w-full">
			{
				WORK.map( ( work ) => {

					return (
						<div>
							<div>
								{

									work.video_flag &&
									<video
										loop={ true }
										autoplay={ true }
										muted={ true }
										playsinline={ true }
										preload="auto"
										class="h-full w-full object-cover"
									>
										<source src={ work.video } type="video/mp4"/>
									</video>
								}
								{

									!work.video_flag &&
									<img
										src={ work.image }
										class="object-fit"
										alt=""
									/>

								}
							</div>
							<div class="mt-4">
								<H2
									text={ work.brand }
								/>
							</div>
							<div class="mt-4 flex gap-4">
								{

									work.category.map( ( category, category_item ) => {

										if( category_item +1 < work.category.length )
											return (
												<div class="uppercase text-sm">{ category }</div>
												<div>•</div>
											)
										else
											return (
												<div class="uppercase text-sm">{ category }</div>
											)

									})

								}
							</div>
						</div>
					)

				})

			}
			</div>
		</section>
		<Footer />
	</body>
</html>
