---
import { getCollection } from 'astro:content';
const posts = await getCollection('work');
const posts_sorted = posts.sort((a, b) => a.data.order - b.data.order)
import Header from "../../components/common/Header.jsx"
import Footer from "../../components/common/Footer.astro"
import H1 from "../../components/common/atom/H1.astro"
import H2 from "../../components/common/atom/H2.astro"
import H4 from "../../components/common/atom/H4.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
import Layout from "../../layouts/Layout.astro"
import Container from "../../layouts/Container.astro"
import Link from "../../layouts/Link.astro"
import Video from "../../layouts/Video.astro"
---
<Layout
	title="Work — Small Town Folk"
	description="Work — Small Town Folk"
	image="https://blupp.b-cdn.net/smalltownfolk/tasveerien-yogabar-cover.jpg?quality=80"
>
	<Header
		pathname= { Astro.url.pathname }
		client:load
	/>
	<Container>
		<section class="mt-36">
			<H1>About us</H1>
		</section>
	</Container>
	<Container>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full p-2 md:p-0">
			{
				posts_sorted.map( ( work ) => {

					return (
						<div class="">
							<Link link={ "/work/" + work.data.link }>
								<div class="h-96 w-full bg-zinc-200 relative group">
									{

										work.data.video_flag &&
										<Video>
											<source src={ work.data.video } type="video/mp4"/>
										</Video>

									}
									{

										!work.data.video_flag &&
										<img
											src={ work.data.image }
											class="object-cover w-full h-full"
											alt=""
										/>

									}
									{

										work.data.award &&
										<div class="absolute bottom-2 left-2 w-3/4 md:1/2 z-30">
											<img
												src={ work.data.award_image }
												alt="award image"
											/>
										</div>
									}
									<div class="absolute z-20 top-0 left-0 bg-black/60 w-full h-full opacity-0 hover:opacity-100 flex items-center justify-center">
										<div class="p-12">
											<H4 light={ true }>
												{ work.data.description }
											</H4>
										</div>
									</div>
								</div>
							</Link>
							<div class="mt-4">
								<H2
									text={ work.data.brand }
								/>
							</div>
							<div class="mt-2 md:mt-4 flex flex-col md:flex-row gap-1 md:gap-4 items-start md:items-center">
								{

									work.data.category.map( ( category, category_item ) => {

										if( category_item +1 < work.data.category.length )
											return (
												<Paragraph small={ true }>
													{ category }
												</Paragraph>
												<div class="hidden md:block">•</div>
											)
										else
											return (
												<Paragraph small={ true }>
													{ category }
												</Paragraph>
											)

									})

								}
							</div>
						</div>
					)

				})

			}
		</div>
	</Container>
	<Footer />
</Layout>
