---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
import H3 from "../../components/common/atom/H3.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
import Head from "../../components/common/Head.astro"
import MastHead from "../../components/work/MastHead.astro"
import P from "../../components/common/atom/P.astro"
import ImageBetweenText from "../../components/work/ImageBetweenText.astro"
import Title1Text1 from "../../components/work/Title1Text1.astro"
import ImageGrid2 from "../../components/work/ImageGrid2.astro"
import ImageGrid3 from "../../components/work/ImageGrid3.astro"
import FullImage from "../../components/work/FullImage.astro"
import Image from "../../components/work/Image.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header />
        <MastHead
            L_title="Infogain"
            L_points=
            {[
                "Brand Communication",
                "Brand Guidelines",
                "Visual Extension "
            ]}
           R_title="Engineering branding outcomes" 
           R_description=" Infogain is an IT services company based out of California. They are experts in technology solutions across various industries like travel, retail and insurance. They reached out to us to improve their overall brand presence and streamline their visual language."
        />
        <FullImage />
        <div class="container max-w-6xl mx-auto">
            <Title1Text1
                title="Circling back"
                text="The first facet of the project was to create a consistent visual language to help achieve their business goals. We began by exploring the infogain brandmark. The circle stood out as an easily amenable design element. The circle was further developed into various forms. Each of these form visually represents a personality trait of the brand."
            />
            <Image />
            <ImageGrid2 />
        </div>
        <div class="container max-w-6xl mx-auto">
            <Title1Text1
                title="A well rounded visual language"
                text="Using the circle as the base we chalked out a complete visual language over the course of the next few months. The complete work was complied in an exhaustive brand manual. The manual was designed to be actionable and to transcend mediums and geographies."
            />
            <Image />
        </div>
        <FullImage />
		<Footer />
	</body>
</html>
