---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
import H3 from "../../components/common/atom/H3.astro"
import P from "../../components/common/atom/P.astro"
import ImageOverText from "../../components/work/beckn/ImageOverText.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
import MastHead from "../../components/work/MastHead.astro"
import ImageBetweenText from "../../components/work/ImageBetweenText.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<MastHead/>
        <div class="bg-green-600 h-[90vh] w-full"></div>
        <ImageBetweenText/>
        <div class="bg-red-600 h-[50vh] w-full my-4"></div>
        <div class="bg-purple-600 h-[50vh] w-full my-4"></div>
        <div class="container mx-auto max-w-6xl">
            <div class="grid grid-cols-2 gap-8 my-16">
                <div class="bg-green-600 h-[50vh] w-full"></div>
                <div class="bg-green-600 h-[50vh] w-full"></div>
            </div>
        </div>
        <div class="h-screen bg-pink-300 mb-28"></div>
        <div class="h-[90vh] bg-blue-300"></div>
        <div class="h-[70vh] bg-gray-300 my-16"></div>
		<Footer />
	</body>
</html>
