---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
import H3 from "../../components/common/atom/H3.astro"
import P from "../../components/common/atom/P.astro"
import ImageOverText from "../../components/work/beckn/ImageOverText.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
import MastHead from "../../components/work/MastHead.astro"
import ImageBetweenText from "../../components/work/ImageBetweenText.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<!-- <MastHead/> -->
        <div class="bg-green-600 h-[90vh] w-full"></div>
        <ImageBetweenText
            title1="The positioning formula"
            title2="Vibrant and organic"
            text1={["Our workshops with the client lead us to the brand's key motivation - actively seeking for customer pain points and creating products that cater to those needs. This marriage of nature, science and customer needs allowed us to carve out the brand’s core thought - Nature, Science and You.", "Not only did we keep the customer at the center of their positioning, we also brought them into the name. The ‘U’ in Nutriventia is symbolic of ‘you’ as the customer."]}
            text2={["Linking back to equal parts nature & science, we wanted the brand to be vibrant and multicoloured. The 4 colours of Nutriventia represent nature, science, customer and the Inventia brand.", "The illustration language is inspired by symmetry which allows the visuals to be unique without losing the seriousness of its subject matter.", "Our layouts and iconography allow for clear and crisp communication with splashes of colour that make communication pieces stand out."]}
        />
        <div class="bg-red-600 h-[50vh] w-full my-4"></div>
        <div class="bg-purple-600 h-[50vh] w-full my-4"></div>
        <div class="container mx-auto max-w-6xl">
            <div class="grid grid-cols-2 gap-8 my-16">
                <div class="bg-green-600 h-[50vh] w-full"></div>
                <div class="bg-green-600 h-[50vh] w-full"></div>
            </div>
        </div>
        <div class="h-screen bg-pink-300 mb-28"></div>
        <div class="h-[90vh] bg-blue-300"></div>
        <div class="h-[70vh] bg-gray-300 my-16"></div>
		<Footer />
	</body>
</html>
