---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
import H3 from "../../components/common/atom/H3.astro"
import P from "../../components/common/atom/P.astro"
import ImageOverText from "../../components/work/beckn/ImageOverText.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<div class="bg-orange-600 h-[68vh] w-full"></div>
		<section class="container xl:max-w-6xl lg:max-w-6xl mx-auto flex py-20">
            <div class="grid grid-cols-2">
				<div class="space-y-2">
                	<H2
                    	text="Nutriventia"
                	/>
					<p class="pt-14 font-bold">CORE BRAND ASSETS</p>
					<p>Brand Strategy</p>
                    <p>Brand Guidelines</p>
                    <p>Brand Communication</p>
                    <p>Visual Extensions</p>
                    <p>Website UI/UX</p>
				</div>
				<div>
					<H2
                    	text="Nature, science and you"
                	/>
					<Paragraph
                        text="Health is wealth - this old adage is slowly becoming a reality with consumers globally gravitating towards more holistic medical choices. With emphasis on prevention rather than cure, the good people at Inventia ventured into the nutraceuticals market. They reached out to us to create a new brand which talked in equal parts nature as much as science"
                    />
				</div>
			</div>
		</section>
		<div class="container xl:max-w-6xl lg:max-w-6xl mx-auto py-20">
			<div class="grid grid-cols-2 gap-10">
				<div class="bg-gray-100 h-80"></div>
				<div class="bg-gray-100 h-80"></div>
			</div>
			<div class="flex-col space-y-12 py-32">
				<H2
					text="Carving out the positioning"
				/>
				<P
                    text="An abstract idea like this needed intense collaboration. We worked as a tight knight team during the discovery phase and led quite a few workshops & discussions with their team. This allowed us to pen down strong values for the brand and a clear positioning."
                />
			</div>
            <div class="grid grid-cols-3 gap-10">
                <ImageOverText
                    title="Consumers"
                    description="beckn eases the consumer's life by making all forms of resources accessible and providing them with the freedom to choose."
                />
                <ImageOverText
                    title="Consumers"
                    description="beckn eases the consumer's life by making all forms of resources accessible and providing them with the freedom to choose."
                />
                <ImageOverText
                    title="Consumers"
                    description="beckn eases the consumer's life by making all forms of resources accessible and providing them with the freedom to choose."
                />
                <div>
            </div>
            </div>
			<div class="bg-red-600 h-96 w-full" ></div>
            <H3
					text="Hailing a brand identity"
				/>
				<P
                    text=`During our collaborative sessions, two things stood out; we wanted the identity to convey the concept of ‘beckoning’ or ‘hailing’ and for it to be universal. In its purest form, beckn would provide the ability to ‘access anything, at any time’ or in simple terms give us the ability to ‘beckn’ anything. It also enables interoperability across operating systems and apps, making it universal. 
                    
                    We combined these 2 concepts through the use of another universal language that made integration across platforms and technologies possible – ASCII codes. The ASCII characters of ‘.’ and ‘/’ when put together give the visual of a person with a hand raised; signaling something over. The logo was created by extending this basic thought and transforming the letter ‘k’ in beckn. The clean approach to the identity and the tapering gradation illustrates beckn’s idea of leaving a minimal footprint.`
                />
			<div class="bg-red-500 h-[60vh] w-full my-32" ></div>
			<div class="space-y-10">
				<H3
					text="Building a visual system"
				/>
				<p>The colour system was created to reflect the idea of a core infrastructure. RGB forms the base of the entire colour system. Using these three colours, one can beckn any colour. In other words, they are the digital infrastructure for beckn’s colour system. 
                <br>
                Arial is a realist sans-serif typeface. It is one of the most basic fonts used across technology ecosystems. Using Arial lends our communication pieces an air of inclusiveness and universality, keeping in line with the core values of beckn. 
                <br>   
                The iconography and illustration were constructed by combining elements derived from the brand mark with base shapes. The icons were designed to be universal without having references to any ethnicity, race or cultural backgrounds. They were used across different touchpoints to create symbolism, conceptual clarity and visual interest.</p>
			</div>
            <div class="grid-cols-2 gap-8 my-20"></div>
            <H3
				text="Expanding the visual identity"
			/>
            <div class="grid grid-cols-4 my-20">
                <ImageOverText
                    title="Grid"
                    description="The underlying grid represents digital infrastructure and the connection between individuals, businesses & governments."
                />
                <ImageOverText
                    title="Grid"
                    description="The underlying grid represents digital infrastructure and the connection between individuals, businesses & governments."
                />
                <ImageOverText
                    title="Grid"
                    description="The underlying grid represents digital infrastructure and the connection between individuals, businesses & governments."
                />
                <ImageOverText
                    title="Grid"
                    description="The underlying grid represents digital infrastructure and the connection between individuals, businesses & governments."
                />
            </div>
			<div class="bg-red-600 h-[60vh] w-full my-20" ></div>
            <div class="grid grid-cols-3">

            </div>
            <div class="bg-red-600 h-[60vh] w-full my-20" ></div>
		</div>
		<Footer />
	</body>
</html>
