---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
import H3 from "../../components/common/atom/H3.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
import Head from "../../components/common/Head.astro"
import MastHead from "../../components/work/MastHead.astro"
import P from "../../components/common/atom/P.astro"
import ImageBetweenText from "../../components/work/ImageBetweenText.astro"
import Title1Text1 from "../../components/work/Title1Text1.astro"
import ImageGrid2 from "../../components/work/ImageGrid2.astro"
import ImageGrid3 from "../../components/work/ImageGrid3.astro"
import FullImage from "../../components/work/FullImage.astro"
import Image from "../../components/work/Image.astro"
import ImageGrid4 from "../../components/work/ImageGrid4.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header />
        <MastHead
            L_title="Stoner"
            L_points=
            {[
                "Brand Communication",
                "Creative Strategy",
                "Packaging Design"
            ]}
           R_title="Weeding out brand communication" 
           R_description="Stoner is a throwback to the good ol' ice-cream shoppes from the 1980s with a rather 'blunt' twist. The restaurant made waves being one of the first stores to use cold-stone technique to prepare their ice-creams. A fun and light-hearted brand, Stoner was all about food and conversations. Enjoying a following of everyone from college kids to grandparents, Stoner soon became a household hangout spot. We came in to streamline brand communication and target Stoner's varied target audience."
        />
        <div class="container max-w-6xl mx-auto">
            <ImageGrid4 />
            <Title1Text1
                title="High concept art"
                text="To commemorate the opening of their new flagship store, we were tasked with creating a massive art piece that extended the idea of different conversations. We created a layout that encapsulated the range of age-groups that were customers of Stoner. Using witty repartee to encapsulate conversations used across age-groups, we brought life to the store's interiors and overall vibe."
            />
        </div>
        <FullImage />
        <div class="container max-w-6xl mx-auto">
            <Title1Text1
                title="Munchies to go"
                text="Extending the brand identity, we created packaging for Stoner. Using bright colours and flat design, the packaging was designed to exemplify light-heartedness and conversation."
            />
            <ImageGrid4 />
        </div>
        <div class="container max-w-6xl mx-auto">
            <Title1Text1
                title="Hashtag social"
                text="Stoner, being widely loved, had great online potential. We created a wide range of social media posts that were both relevant and timely. We covered topics that were popular with our target audience, putting up posts about everything from the ICC ODI World Cup to occasions like Valentine's Day. The content was chucklesome and bright. Using a variety of illustration styles, the social posts were designed to extend conversations as the cornerstone of the brand's identity."
            />
            <Image />
            <ImageGrid2 />
            <Title1Text1
                title="A hit offline"
                text="We've created various print collaterals for Stoner over time but the most noteworthy one would definitely be their menu. Using imagery of ice-creams, burgers and pizzas, we created a light and airy sun-board menu that extended their brand identity using conversations and peppy design elements. We ran multiple campaigns which were reflected in the decor of the stores."
            />
        </div>
        <FullImage />
		<Footer />
	</body>
</html>
