---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
import Head from "../../components/common/Head.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header />
		<section class="container xl:max-w-7xl lg:max-w-6xl mx-auto flex py-20">
            <div class="grid grid-cols-2">
                <H2
                    text="Swiggy"
                />
            </div>
		</section>
		<Footer />
	</body>
</html>
