---
import Header from "../../components/common/Header.astro"
import Footer from "../../components/common/Footer.astro"
import { WORK } from "../../constants"
import H2 from "../../components/common/atom/H2.astro"
import H3 from "../../components/common/atom/H3.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
import Head from "../../components/common/Head.astro"
import MastHead from "../../components/work/MastHead.astro"
import P from "../../components/common/atom/P.astro"
---

<html lang="en">
	<Head />
	<body>
		<Header />
        <!-- <MastHead
           L_title="Yogabar"
           L_points={["Brand Communication", "Creative Strategy", "Website UI/UX" ]}
           R_title="The honest voice of healthy ingredients " 
           R_description="Yogabar is a nutritional food company that aims to provide healthy snacking options. Our aim was to streamline their brand communication. In such a saturated industry, our first step was to step back and reassess the tone and voice of the brand. As we went along, we re-worked the brand tone, messaging and design strategy, ensuring a unified voice and look to the brand.

           The average Yogabar consumer views a healthy lifestyle as a means to feel good. We immediately realised that Yogabar's brand communication needed to reflect this insight. Hence we used humor and light-heartedness to give the brand a feel-good factor; our intent was to make people smile. Additionally, the bold and cheerful design language complimented the tone well."
        /> -->
        <div class="container max-w-6xl mx-auto my-24">
            <div class="bg-blue-400 h-[70vh]"></div>
            <div class="mt-36 gap-8 flex flex-col">
                <H3
                    text="Naturally intriguing "
                />
                <Paragraph
                    text="The core-positioning we created for Yogabar was that it was 'all natural'. We devised crisp and engaging creatives, that drew consumers in and explained the core positioning of the brand at the same time. Using humour and pop colours, we delivered this message in an honest and engaging way."
                />
            </div>
        </div>
        <div class="bg-blue-400 h-[90vh]"></div>
        <div class="container max-w-6xl mx-auto">
            <div class=" gap-8 flex flex-col my-32">
                <H3
                    text="A healthy imprint"
                />
                <Paragraph
                    text="Print collaterals were exceedingly important for Yogabar because a majority of its end consumers only interacted with the brand through POS communication pieces. We went about creating these in-store and point-of-sale creative ensuring a consistent design language throughout all retail outlets and other locations. "
                />
            </div>
            <div class="bg-blue-400 h-[80vh] mb-20"></div>
        </div>
		<Footer />
	</body>
</html>
