---
import NavigationItem from "./navigation/NavigationItem.astro"
---
<header class="bg-zinc-300 py-10">
    <div class="container max-w-7xl mx-auto flex justify-between items-center">
        <div>Small Talk Folk</div>
        <nav class="flex gap-12">
            <NavigationItem text="Work"/>
            <NavigationItem text="About"/>
            <NavigationItem text="Careers"/>
            <NavigationItem text="Contact"/>
        </nav>
    </div>
</header>
