---
import NavigationItem from "./navigation/NavigationItem.astro"
---
<header class="bg-white py-8">
    <div class="container max-w-7xl mx-auto flex justify-between items-center">
        <a href="/" class="w-36">
            <img
                src="https://blupp.b-cdn.net/smalltownfolk/STF-02.png?width=300"
                class="object-fit w-full h-full"
                alt="Small Talk Folk's logo"
            />
        </a>
        <nav class="flex gap-12 items-center">
            <NavigationItem
                text="Work"
                link="/work"
            />
            <NavigationItem
                text="About"
                link="/about"
            />
            <NavigationItem
                text="Careers"
                link="/careers"
            />
            <NavigationItem
                text="Contact"
                link="/contact"
            />
        </nav>
    </div>
</header>
