---
import H3 from "../../components/common/atom/H3.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
---

<div class="container mx-auto max-w-6xl my-24">
    <div class="flex flex-col gap-6">
        <H3
            text="The positioning formula"
        />
        <Paragraph
            text="Our workshops with the client lead us to the brand's key motivation - actively seeking for customer pain points and creating products that cater to those needs. This marriage of nature, science and customer needs allowed us to carve out the brand’s core thought - Nature, Science and You."
        />
        <Paragraph
            text="Not only did we keep the customer at the center of their positioning, we also brought them into the name. The ‘U’ in Nutriventia is symbolic of ‘you’ as the customer. "
        />
    </div>
	<div class="grid grid-cols-2 gap-10 py-28">
		<div class="bg-gray-100 h-80"></div>
		<div class="bg-gray-100 h-80"></div>
	</div>
    <div class="flex flex-col gap-6">
        <H3
            text="Vibrant and organic"
        />
        <Paragraph
            text="Linking back to equal parts nature & science, we wanted the brand to be vibrant and multicoloured. The 4 colours of Nutriventia represent nature, science, customer and the Inventia brand."
        />
        <Paragraph
            text="The illustration language is inspired by symmetry which allows the visuals to be unique without losing the seriousness of its subject matter."
        />
        <Paragraph
            text="Our layouts and iconography allow for clear and crisp communication with splashes of colour that make communication pieces stand out. "
        />
    </div>
</div>