---
import H2 from "../../components/common/atom/H2.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
---
<div class="bg-green-600 h-[85vh] w-full"></div>
	<section class="container xl:max-w-6xl lg:max-w-6xl mx-auto flex my-28">
        <div class="grid grid-cols-2">
			<div class="space-y-2">
                <H2
                    text="Nutriventia"
                />
				<p class="pt-12 font-bold">CORE BRAND ASSETS</p>
				<p>Brand Strategy</p>
                <p>Brand Guidelines</p>
                <p>Brand Communication</p>
                <p>Visual Extensions</p>
                <p>Website UI/UX</p>
			</div>
			<div class="flex flex-col gap-8">
				<H2
                    text="Nature, science and you"
                />
				<Paragraph
                    text="Health is wealth - this old adage is slowly becoming a reality with consumers globally gravitating towards more holistic medical choices. With emphasis on prevention rather than cure, the good people at Inventia ventured into the nutraceuticals market. They reached out to us to create a new brand which talked in equal parts nature as much as science"
                />
            </div>
		</div>
    </section>