---
import H3 from "../../components/common/atom/H3.astro"
import Paragraph from "../../components/common/atom/Paragraph.astro"
const { title, text} = Astro.props
---
<div class="flex flex-col gap-8">
    <H3
        text={ title }
    />
    <Paragraph
        text={ text }
    />
</div>